<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../Styles/style.css"/>
</head>
<body>
    <h2 class="center-text" id="chapter{{ chapter.nbr | printf('04d') }}">{{ chapter.bookname }}</h2>
    <h3 class="center-text">{{ chapter.nbr }}. poglavje</h3>
    {% for verse in chapter.verses %}
        <sup class="verseNbr">{{ verse.nbr }}</sup>
        {{ verse.content | safe }}  {# ali pa custom filter, ki naredi post-processing #}
    {% endfor %}
    <h4><a href="01-toc.html">Na kazalo</a></h4>
    <span style="page-break-after: always"></span>
</body>
</html>
