<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops">
<head>
  <title>Kolofon in Predgovor</title>
<link rel="stylesheet" type="text/css" href="../Styles/style.css"/>
</head>

<body>
<p>&#160;</p>
  <h2>Kolofon</h2>
<p>Sveto pismo Kralja Jakoba (SloKJV)</p>
<p>Naslov izvirnika: Holy Bible King James Version</p>
<p>Knjiga je objavljena na spletni strani: github.com/msavli/SloKJV</p>
<p>Prevod: Marjan Šavli in Barbara Hojkar Šavli</p>
<p>Priprava besedila: Marjan Šavli (Sigil)</p>
<p>Založnik: Marjan Šavli in Barbara Hojkar Šavli, Mestni trg 11, 4220 Škofja Loka</p>
<p>Datum:</p>
<p>E-pošta: marjan.savli@gmail.com</p>
<p>https://github.com/msavli/SloKJV</p>
<p>Dovoljenje za uporabo besedila</p>
<p>To delo je ponujeno pod licenco Creative Commons (CC BY-NC-ND PRIZNANJE AVTORSTVA – NEKOMERCIALNO – BREZ PREDELAV).</p>
<p>Uporabnikom je dovoljeno reproduciranje, distribuiranje, dajanje v najem in javna priobčitev izvirnega avtorskega dela, vendar samo v nekomercialne namene, pod pogojem, da navedejo avtorja izvirnega dela in da dela ne spreminjajo. https://creativecommons.org/licenses/by-nc-nd/4.0/</p>

<p></p>
<p></p>
<p>Kataložni zapis o publikaciji (CIP) pripravili v Narodni in univerzitetni knjižnici v Ljubljani</p>
<p>COBISS.SI-ID 160786691</p>
<p>ISBN 978-961-93087-7-6 (ePUB)</p>
<p></p>
<p></p>
<span style="page-break-after: always"></span>
  <h2>Predgovor</h2>
<p>Projekt prevoda Sveto pismo kralja Jakoba v slovenski jezik je potekal od maja 2010 do maja 2022. Prevedenih je 66 knjig. Pri pregledu besedila sodeluje Vinko Ošlak.</p>
<p>Prevedene knjige: Geneza, Eksodus, Levitik, Numeri, Devteronomij, Jozue, Sodniki, Ruta, 1 Samuel, 2 Samuel, 1 Kralji, 2 Kralji, 1 Kroniška, 2 Kroniška, Ezra, Nehemija, Estera, Job, Psalmi, Pregovori, Pridigar, Visoka pesem, Izaija, Jeremija, Žalostinke, Ezekiel, Daniel, Ozej, Joel, Amos, Abdija, Jona, Mihej, Nahum, Habakuk, Sofonija, Agej, Zaharija, Malahija in celotna Nova Zaveza.</p>
<p>Prosiva Boga, da bi bila tudi vam ta knjiga v blagoslov in spodbudo pri hoji z Jezusom.</p>
<p></p>
<p class="right-align">Prevajalca</p>
<p></p>
<h3>Posebnosti prevoda:</h3>
    <ul>
        <li>»[ ]« dodala prevajalca, ni v originalu,</li>
        <li>»§« razlika besedila SloKJV in ostalih slovenskih prevodov.</li>
    </ul>

<h3>Predlogi za izboljšavo</h3>
<p>Če ste v prevodu našli kako napako ali predlog za izboljšavo, jo lahko sporočite na naslov: marjan.savli@gmail.com.</p>
<p>Dodatne informacije: <a href="https://github.com/msavli/SloKJV">https://github.com/msavli/SloKJV</a></p>
<h4><a href="01-toc.html">Na kazalo</a></h4>
<span style="page-break-after: always"></span>
</body>
</html>

