<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops">
<head>
  <title>Jezus</title>
<link rel="stylesheet" type="text/css" href="../Styles/style.css"/>
</head>

<body>
<span style="page-break-after: always"></span>
<h2 class="center-text">Jezus, reši me!</h2>
<p class="center-text">Bog je že dokazal Svojo ljubezen do tebe osebno. Kajti Bog je tako ljubil svet (tebe), da je dal Svojega edinorojenega Sina, da kdorkoli veruje vanj, (ti?) se ne bo pogubil, temveč bo imel večno življenje.<sup>(Jn 3,16)</sup></p>
<p class="center-text">Ali verjameš Besedi Njega, ki te je ustvaril, ki te pozna in te ljubi?</p>
<p class="center-text">Ali si pripravljen sprejeti Njega, to je Božjo Besedo – Jezusa Kristusa, po katerem so bile narejene vse stvari?</p>
<p class="center-text">Toda sedaj povsod vsem ljudem zapoveduje, da se pokesajo.<sup>(Apd 17,30)</sup></p>
<p class="center-text">Pokesajte se torej in bodite spreobrnjeni (tj. obrnite se proč od greha, k živemu Bogu), da bodo vaši grehi lahko izbrisani.<sup>(Apd 3,19)</sup></p>
<p class="center-text">Sprejmite Jezusa in ne grešite več, kajti Bog je določil dan, na katerega bo sodil svet v pravičnosti, po tem možu (Jezusu Kristusu), katerega je določil. O tem je dal zagotovilo vsem ljudem, ker ga je obudil od mrtvih.<sup>(Apd 17,31)</sup></p>
<p class="center-text">Kajti s srcem človek veruje v pravičnost, z usti pa je narejeno priznanje v rešitev duše.<sup>(Rim 10,10)</sup> Tvoja molitev (iskren pogovor z Bogom) naj bi bila takšna.</p>
<p class="center-text">Na glas izgovori:</p>
<p class="center-text">»Jezus, žal mi je za vse moje grehe. Prosim odpusti mi, osvobodi me in me popolnoma očisti. Sprejemam te  za svojega Odrešenika, Gospoda in Gospodarja svojega življenja. Hvala, ker si tudi zame plačal ceno za moje grehe na križu, umrl in tretji dan vstal.«</p>
<p></p>
<p class="center-text">Toda tolikim, kot so ga sprejeli, njim je on dal moč, da postanejo Božji sinovi, torej njim, ki verujejo v njegovo ime, (v ime Jezusa Kristusa).<sup>(Jn 1,12)</sup> Potem so bili tisti, ki so z veseljem sprejeli njegovo besedo, krščeni. <sup>(Apd 2,41)</sup></p>
<p class="center-text">Pokesajte se (če si to ravnokar storil, sledi navodilu)</p>
<p class="center-text">in vsak izmed vas naj bo krščen v imenu Jezusa Kristusa v odpuščanje grehov</p>
<p class="center-text">in prejeli boste dar Svetega Duha.<sup>(Apd 2,38)</sup></p>
<p class="center-text">Kdor veruje vanj, ni obsojen, toda kdor ne veruje, je že obsojen, ker ni veroval v ime edinorojenega Božjega Sina.<sup>(Jn 3,18)</sup>. Kdor zavrača mene (Jezusa) in ne sprejema mojih besed, ima nekoga, ki ga sodi. Beseda, ki sem jo govoril, ta ista ga bo sodila na poslednji dan.<sup>(Jn 12,48)</sup></p>
<h4><a href="01-toc.html">Na kazalo</a></h4>
<span style="page-break-after: always"></span>
</body>
</html>
