<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title></title>
<link rel="stylesheet" type="text/css" href="../Styles/style.css"/>
</head>

<body>

<ul>
{% for book in books -%}
<li>
 <a href="{{book.file}}">{{book.name}}</a>
 {% if book.chapters|length %}
 <ul>
 {%for chapter in book.chapters -%}
 <a href="{{chapter.file}}">{{chapter.name}}</a> 
 {% endfor -%}
 </ul>
 {% endif -%}
</li>
{% endfor -%}
<!-- </ul>  -->
</body>
</html>
